body {
font-family: "Cormorant Garamond", serif;
background-color: rgb(163, 156, 169);
}

header { 
    display: inline-block;
    background-color: rgb(112, 87, 136);
    color: rgb(255, 255, 255);
}

h1 {
    display:block;
    font-size:2em;
}
nav {
    display:block;

}
ul {
    list-style-type: none;
}
li 
{display: list-item;
text-align: -webkit-match-parent;}

.About {
    display: inline-flex;
    background-color: rgb(112, 87, 136);
    color: rgb(255, 255, 255);
}

p {
    text-align: center;
    font-size: 16px;
}
img {
    height: 200px;
    width: 200px;
    background-color: rgb(112, 87, 136);
}

.Work {
    flex-direction: row;
    justify-content: left;
    background-color: rgb(77, 62, 92);
    color: rgb(255, 255, 255);
}

img {
    height: 200px;
    width: 200px;
    background-color: rgb(112, 87, 136);
}

p {
    text-align: center;
    font-size: 16px;
}

.Resume {
    flex-direction: row;
    justify-content: left;
    background-color: rgb(105, 101, 128);
    color: rgb(255, 255, 255);
}
img {
    height: 200px;
    width: 200px;
    background-color: rgb(112, 87, 136);
}
p {
    text-align: center;
    font-size:16px;
}

.Contact {
    background-color: rgb(77, 62, 92);
    color: rgb(255, 255, 255);
    line-height: 1.5;
}
ul {
    display:inline-flex;
    
}

li {
    display:list-item;
    text-decoration:none;
    align-items:flex-start;
}

a:hover {
    cursor:pointer;
    text-decoration:underline;

}

 a:visited {
        color: rgb 253, 247, 255; 
    }

ul li a {
    display: inline-flex;
}
footer {
    background-color: rgb(77, 62, 92);
    justify-content: center;
    font-style: italic;
    font-size: 18px;
    color: white;
}

@media screen (max-width: 768px) {

}